/school-spring-data-jpa-cli-application/target/
/school-spring-data-jpa-cli-application/.mvn/
*.prefs
/school-spring-data-jpa-cli-application/.classpath
/school-spring-data-jpa-cli-application/.project
/school-spring-data-jpa-cli-application/.settings/
/school-spring-data-jpa-cli-application/schoolapp.log

